<html>
<head>
  <title>Smart JIRA Banner</title>
  <meta name="decorator" content="atl.admin" />
  $webResourceManager.requireResourcesForContext("com.erika.jira.JIRAANNOUNCEMENTS.admin-config-context")
</head>
<body>
  <div id="app"></div>
</body>
</html>
